# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
/dist

# Backpack build
/build

# Ignore ide settings
.idea/
.vscode/

# Do not commit the env.js file as it my contain sensitive data
env.js

package-lock.json
yarn.lock