yarn-error.log

# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
/dist

# Backpack build
/build

# Ignore Webpack Build Statistics
.monitor

# Ignore ide settings
.idea/
.vscode/
/.vs

# Do not commit the env.js file as it may contain sensitive data
/nbproject/private/
/nbproject/

# .env and .env-secrets
.env
.env-secrets

# ignore cypress videos
cypress/videos

#ignore internal github files
/.github
