# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
/dist

# Backpack build
/build

# Ignore Webpack Build Statistics
.monitor

# Ignore ide settings
.idea/
.vscode/

# Do not commit the env.js file as it may contain sensitive data
env.js
/nbproject/private/
/nbproject/

cypress/videos
