@import "assets/styles/utilities";

.account-settings .card,
.organization-settings .card,
.admin-content {
  $padding: 1.5rem;

  padding: $padding !important;

  footer.card-footer {
    margin: -$padding;
    margin-top: 2rem;
    background: lighten($grey-lighter, 10%);
    padding: 1rem $padding;
    display: flex;
    justify-content: right;

    .columns {
      width: 100%;
    }
    .column {
      align-self: center;
      &:first-child {
        text-align: left;
        margin-left: -1.5rem;
      }

      &:last-child {
        text-align: right;
      }
      // align-items: center;
    }
  }
}
