.input {
  height: 2.6em;
}

.taginput-container {
  box-shadow: none !important;
  padding-left: .2em !important;
  padding-top: .2em !important;

  // input.input {
    // margin-top: .1em !important;
  // }
}
.has-error .taginput-container.is-focusable {
  border-color: $red !important;
}
