//.column--slim {
//  @extend .is-10-tablet;
//  @extend .is-offset-1-tablet;
//  @extend .is-10-desktop;
//  @extend .is-offset-1-desktop;
//  @extend .is-8-widescreen;
//  @extend .is-offset-2-widescreen;
//}

#main {
  padding-top: $navbar-height + 30px;
  padding-bottom: 40px;
  min-height: 80vh;
}

html, body {
  background-color: $white-dar;
  min-height: 100vh;
  font-family: $family-sans-serif;
  font-variant-ligatures: no-common-ligatures;
}

footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

.page-leave-active {
  transition: opacity 0ms;
}

.page-enter-active {
  transition: opacity 200ms;
  transition-delay: 10ms;
}

.page-enter, .page-leave-active {
  opacity: 0;
}

input, textarea {
  box-shadow: none !important;
}

// Defining our own container gutter
.container {
  @include desktop() {
    max-width: $desktop - $container-gutter;
    width: $desktop - $container-gutter;

    &.is-fluid {
      margin: 0 20px;
      max-width: none;
      width: auto;
    }
  }

  @include widescreen() {
    max-width: $widescreen - $container-gutter;
    width: $widescreen - $container-gutter;
  }

  @include fullhd() {
    max-width: $fullhd - $container-gutter;
    width: $fullhd - $container-gutter;
  }
}

.card-footer {
  padding-top: 0;
  padding-bottom: 0;
  background-color: $white-bis;
}

.checkbox {
  display: inline-flex !important;
}

.ql-editor {

  .story & {
    min-height: 100px;
  }

  background-color: $white;
}

.nowrap {
  white-space: nowrap;
}
.autowrap {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /*-ms-word-break: break-all;
  !* This is the dangerous one in WebKit, as it breaks things wherever *!
  word-break: break-all;
  !* Instead use this non-standard one: *!
  word-break: break-word;

  !* Adds a hyphen where the word breaks, if supported (No Blink) *!
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;*/
}

hr {
  opacity: 0.4 !important;
}

.modal.is-active {
  z-index: 10000;
}

.button {
  border-radius: $radius !important;
}

.card-footer {
  border-top-color: $grey-lighter;

  .card-footer-item:not(:last-child) {
    border-right-color: $grey-lighter;
  }
}

.tags {
  > .tag {
    margin-bottom: 5px;
    margin-right: 5px !important;

    &:last-child {
      margin-right: 0;
    }
  }
}

dl dt {
  font-weight: bold;
}


.ql-video {
  width: 100%;

  @include mobile() {
    height: 52vw;
  }

  @include tablet-only() {
    height: 34vw;
  }

  @include desktop-only() {
    height: 312px;
  }

  @include widescreen() {
    height: 384px;
  }

  @include fullhd() {
    height: 425px;
  }
}

#main.container {
  @include mobile() {
    margin-top: -1rem;
    margin-right: 1.0rem;
    margin-left: 1.0rem;
  }
  @include tablet-only() {
    margin-top: -1rem;
    margin-right: 1.0rem;
    margin-left: 1.0rem;
  }
}

a, .is-link, button {
  &, &:link, &:visited, &:active {
    outline: none;
  }
}

.tooltip {
  text-transform: none;
}
.tooltip.is-multiline::after {
  font-size: 1.0em;
  line-height: 1.2em;
  text-align: left;
  padding: 1em;
}

.table {
  &.is-empty {
    tr:hover {
      background-color: transparent;
    }
  }
  &.is-striped {
    td {
      border-color: transparent;
    }
  }
}

div.loading-container {
  position: relative;
}
div.is-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: .5;

  &:after {
    @include loader;
    @include center(1em);
    height: 2em;
    width: 2em;
    border-color: transparent transparent #424242 #424242;
  }
}

div.nuxt-progress {
  $color1: #1da0d8;
  $color2: #3973b6;
  $color3: #804182;
  $color4: #df0b17;
  $color5: #eb7e03;
  $color6: #f8b933;
  $color7: #91b936;
  background: -webkit-linear-gradient(left, $color1 , $color2, $color3, $color4, $color5, $color6, $color7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $color1, $color2, $color3, $color4, $color5, $color6, $color7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $color1, $color2, $color3, $color4, $color5, $color6, $color7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $color1 , $color2, $color3, $color4, $color5, $color6, $color7);

  background-size: 100vw;
  // animation: ProgressAnimation 100ms ease;
}

.hc__author .media-content {
  overflow: visible;
}

/* styles for disabled demo content */
.under-construction {
  position: relative;

  &:before {
    z-index: 10;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
    // background-color: rgba(255, 255, 255, 0.5);
    background-image: url('/under-construction.svg'), url('/under-construction-bg2.png');
    background-repeat: no-repeat, repeat;
    background-position: center, center;
    background-size: 39px 31px, auto auto;
    top: 0;
    left: 0;
  }

  /*&:after {
    z-index: 11;
    content: url('/under-construction.svg');
    position: absolute;
    display: block;
    width: 109px !important;
    height: 85px !important;
    border: 2px solid;
  }*/
}

section.take-action,
section.more-info {
  padding-top: 0.2rem;
}

/*@keyframes ProgressAnimation {
  0% {background-position: 0% 50%}
  100% {background-position: 200% 50%}
}*/
