//.column--slim {
//  @extend .is-10-tablet;
//  @extend .is-offset-1-tablet;
//  @extend .is-10-desktop;
//  @extend .is-offset-1-desktop;
//  @extend .is-8-widescreen;
//  @extend .is-offset-2-widescreen;
//}

#main {
  padding-top: $topbar-height + 30px;
  padding-bottom: 40px;
  min-height: 80vh;
}

html, body {
  background-color: $white-dar;
  min-height: 100vh;
  font-family: $family-sans-serif;
  font-variant-ligatures: no-common-ligatures;
}

footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

.page-leave-active {
  transition: opacity 50ms
}

.page-enter-active {
  transition: opacity 150ms
}

.page-enter, .page-leave-active {
  opacity: 0
}

input, textarea {
  box-shadow: none !important;
}

// Defining our own container gutter
.container {
  @include desktop() {
    max-width: $desktop - $container-gutter;
    width: $desktop - $container-gutter;

    &.is-fluid {
      margin: 0 20px;
      max-width: none;
      width: auto;
    }
  }

  @include widescreen() {
    max-width: $widescreen - $container-gutter;
    width: $widescreen - $container-gutter;
  }

  @include fullhd() {
    max-width: $fullhd - $container-gutter;
    width: $fullhd - $container-gutter;
  }
}

.card-footer {
  padding-top: 0;
  padding-bottom: 0;
  background-color: $white-bis;
}

.checkbox {
  display: inline-flex !important;
}

.ql-editor {
  min-height: 100px;
  background-color: $white;
}

.autowrap {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /*-ms-word-break: break-all;
  !* This is the dangerous one in WebKit, as it breaks things wherever *!
  word-break: break-all;
  !* Instead use this non-standard one: *!
  word-break: break-word;

  !* Adds a hyphen where the word breaks, if supported (No Blink) *!
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;*/
}

hr {
  opacity: 0.4 !important;
}

.modal.is-active {
  z-index: 10000;
}

.button {
  border-radius: $radius !important;
}

.card-footer {
  border-top-color: $grey-lighter;

  .card-footer-item:not(:last-child) {
    border-right-color: $grey-lighter;
  }
}

.dropdown-menu {
  .dropdown-content {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.tags {
  > .tag {
    margin-bottom: 5px;
    margin-right: 5px !important;

    &:last-child {
      margin-right: 0;
    }
  }
}