//.column--slim {
//  @extend .is-10-tablet;
//  @extend .is-offset-1-tablet;
//  @extend .is-10-desktop;
//  @extend .is-offset-1-desktop;
//  @extend .is-8-widescreen;
//  @extend .is-offset-2-widescreen;
//}

#main {
  padding-top: $navbar-height + 30px;
  padding-bottom: 40px;
  min-height: 80vh;
}

html, body {
  background-color: $white-dar;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  font-family: $family-sans-serif;
  font-variant-ligatures: no-common-ligatures;
}

footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

.page-leave-active {
  transition: opacity 0ms;
}

.page-enter-active {
  transition: opacity 200ms;
  transition-delay: 10ms;
}

.page-enter, .page-leave-active {
  opacity: 0;
}

input, textarea {
  box-shadow: none !important;
}

// Defining our own container gutter
.container {
  @include desktop() {
    max-width: $desktop - $container-gutter;
    width: $desktop - $container-gutter;

    &.is-fluid {
      margin: 0 20px;
      max-width: none;
      width: auto;
    }
  }

  @include widescreen() {
    max-width: $widescreen - $container-gutter;
    width: $widescreen - $container-gutter;
  }

  @include fullhd() {
    max-width: $fullhd - $container-gutter;
    width: $fullhd - $container-gutter;
  }
}

.card-footer {
  padding-top: 0;
  padding-bottom: 0;
  background-color: $white-bis;
}

/*
// THIS MAKES CARD CORNERS ROUND
// TODO: fix some display issues

.card,
.settings-content,
.admin-content {
  border-radius: 8px !important;

  .image,
  .teaser-image {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
  }

  footer {
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
  }
} */

.checkbox {
  display: inline-flex !important;
}

.ql-editor {

  .story & {
    min-height: 100px;
  }

  background-color: $white;
}

.nowrap {
  white-space: nowrap;
}
.autowrap {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /*-ms-word-break: break-all;
  !* This is the dangerous one in WebKit, as it breaks things wherever *!
  word-break: break-all;
  !* Instead use this non-standard one: *!
  word-break: break-word;

  !* Adds a hyphen where the word breaks, if supported (No Blink) *!
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;*/
}

hr {
  opacity: 0.4 !important;
}

.modal.is-active {
  z-index: 10000;
}

.button {
  border-radius: $radius !important;
}

.card-footer {
  border-top-color: $grey-lighter;

  .card-footer-item:not(:last-child) {
    border-right-color: $grey-lighter;
  }
}

.tags {
  > .tag {
    margin-bottom: 5px;
    margin-right: 5px !important;
    justify-content: left;
    overflow-x: hidden;

    &:last-child {
      margin-right: 0;
    }
  }
}

dl dt {
  font-weight: bold;
}


.ql-video {
  width: 100%;

  @include mobile() {
    height: 52vw;
  }

  @include tablet-only() {
    height: 34vw;
  }

  @include desktop-only() {
    height: 312px;
  }

  @include widescreen() {
    height: 384px;
  }

  @include fullhd() {
    height: 425px;
  }
}

#main.container {
  @include mobile() {
    margin-top: -1rem;
    margin-right: 1.0rem;
    margin-left: 1.0rem;
  }
  @include tablet-only() {
    margin-top: -1rem;
    margin-right: 1.0rem;
    margin-left: 1.0rem;
  }
}

a, .is-link, button {
  &, &:link, &:visited, &:active {
    outline: none;
  }
}

.tooltip {
  text-transform: none;

  &.is-animated:after,
  &.is-animated:before {
    transition-delay: 200ms !important;
  }
}
.tooltip.is-multiline::after {
  font-size: 1.0em;
  line-height: 1.2em;
  text-align: left;
  padding: 1em;
}

.notices {
  z-index: 9998;
}

.table {
  &.is-empty {
    tr:hover {
      background-color: transparent;
    }
  }
  &.is-striped {
    td {
      border-color: transparent;
    }
  }
}

div.loading-container {
  position: relative;
}
div.is-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: .5;

  transition: 150ms ease;

  &:after {
    @include loader;
    @include center(1em);
    height: 2em;
    width: 2em;
    border-color: transparent transparent #424242 #424242;
  }
}

div.nuxt-progress {
  $color1: #1da0d8;
  $color2: #3973b6;
  $color3: #804182;
  $color4: #df0b17;
  $color5: #eb7e03;
  $color6: #f8b933;
  $color7: #91b936;
  background: -webkit-linear-gradient(left, $color1 , $color2, $color3, $color4, $color5, $color6, $color7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $color1, $color2, $color3, $color4, $color5, $color6, $color7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $color1, $color2, $color3, $color4, $color5, $color6, $color7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $color1 , $color2, $color3, $color4, $color5, $color6, $color7);

  background-size: 100vw;
  // animation: ProgressAnimation 100ms ease;
}

.hc__author .media-content {
  overflow: visible;
}

/* styles for disabled demo content */
.under-construction {
  position: relative;

  &:before {
    z-index: 10;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
    // background-color: rgba(255, 255, 255, 0.5);
    background-image: url('/under-construction.svg'), url('/under-construction-bg2.png');
    background-repeat: no-repeat, repeat;
    background-position: center, center;
    background-size: 39px 31px, auto auto;
    top: 0;
    left: 0;
  }
}

section.take-action,
section.more-info {
  .breadcrumb {
    margin-top: -30px;
  }
}

body .sentry-error-embed-wrapper {
  z-index: 99999 !important;
}

div[class^="v2-table__"][style],
div[class*="v2-table__"][style],
.v2-table__body-wrapper[style],
.v2-table__footer-wrapper[style],
.v2-table__header-wrapper[style],
.v2-table__table-container[style],
.v2-table__table-wrapper[style] {
  width: 100% !important;
}

/*@keyframes ProgressAnimation {
  0% {background-position: 0% 50%}
  100% {background-position: 200% 50%}
}*/

.hc-navigation .hc-dropdown {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

label,
.label {
  color: $grey-dark;

  &:not(:last-child) {
    margin-bottom: 0.2em;
  }

  &.is-required,
  &.is-required > label {
    &::after {
      content: " *";
    }
  }
}

.has-error {
  span.check,
  input {
    border-color: $red !important;
  }
  .control-label,
  label,
  label & {
    color: $red;
  }
}

.control.has-icons-left .icon, .control.has-icons-right .icon {
  height: 2.5em;
}

$iconPadding: .3em;
.icon-left {
  padding-right: $iconPadding;
}
.icon-right {
  padding-left: $iconPadding;
}

.v2-table__pagination {
  user-select: none;

  li.page {
    // border-radius: 50%;

    &:hover {
      border-color: $grey;
      color: darken($primary, 20%);
    }

    &.cur-page {
      &, &:hover {
        background-color: $primary;
        border-color: $primary;
        font-weight: bold;
      }
    }
  }
}

.hc-textcounters {
  display: flex;
  justify-content: center;
  margin: 15px 0;

  .textcountitem {
    text-align: center;
    border-right: 1px solid #dadada;
    padding: 0 10px 0 10px;
  }
  .textcountitem:first-child {
    text-align: right;
    // & > div {
    //   text-align: right !important;
    // }
  }
  .textcountitem:last-child {
    text-align: left;
    // & > div {
    //   text-align: left !important;
    // }
    border-right: 0;
  }
}

// slide up ease
.slide-up-enter-active {
  transition: all 500ms $easeOut;
  transition-delay: 20ms;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.slide-up-enter, .slide-up-leave-active {
  opacity: 0;
  box-shadow: none;
  transform: translate3d(0, 15px, 0);
}

// slide next / prev
.slide-next-enter-active, .slide-prev-enter-active {
  transition: transform 500ms $easeOut, opacity 500ms $easeOut;
  transition-delay: 100ms;
  opacity: 1;
}
.slide-next-enter, .slide-next-leave-active {
  opacity: 0;
  transform: translate3d(10px, 0, 0);
}
.slide-prev-enter, .slide-prev-leave-active {
  opacity: 0;
  transform: translate3d(-10px, 0, 0);
}
.slide-next-leave-active, .slide-prev-leave-active {
  display: none;
}
.slide-next-leave-active, .slide-prev-leave-active {
  opacity: 0;
  transform: translate3d(-2px, 0, 0);
  transition: transform 100ms $easeOut, opacity 100ms $easeOut;
}

.fade-delayed-leave-active {
  transition: opacity 0;
  transition-delay: 0;
}
.fade-delayed-enter-active {
  transition: opacity 300ms ease-out;
  transition-delay: 100ms;
  opacity: 1;
}
.fade-delayed-enter, .fade-delayed-leave-active {
  opacity: 0.1;
}

// used for animating the form helper text in when there is an issue
.help, .message {
  transition: all 150ms ease-in;

  &, &.is-hidden {
    display: block !important;
    overflow: hidden;
    height: auto;
  }

  &.is-hidden {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}

ol.is-list {
  list-style: decimal outside;
  margin-left: 2em;
  margin-top: 1em;
}

ul.is-list {
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em;
}

.modal {
  z-index: 999;

  &.is-active {
    .modal-background {
      opacity: 0.5;
    }
  }
  .modal-card {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    width: calc(80vw - 40px);
    max-width: 800px;
  }
  .modal-card-head {
    background-color: $white;
    border-bottom-color: $grey-lighter;

    &::after {
      content: "";
      height: 30px;
      background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,0));
      position: absolute;
      width: 100%;
      bottom: -31px;
      pointer-events: none;
      z-index: 1;
    }
  }

  section.modal-card-body {
    padding-bottom: 3rem !important;
    height: auto;
    max-height: 60vh;
  }

  .modal-card-foot {
    justify-content: flex-end;
    padding: 0.8rem;

    &::before {
      content: "";
      height: 45px;
      background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.9));
      position: absolute;
      width: 100%;
      top: -46px;
      pointer-events: none;
    }
  }
}

@media (max-width: $tablet) {
  .modal {
    .modal-card {
      width: auto;
    }
    section.modal-card-body {
      max-height: 100vh;
    }
  }
}
