//.column--slim {
//  @extend .is-10-tablet;
//  @extend .is-offset-1-tablet;
//  @extend .is-10-desktop;
//  @extend .is-offset-1-desktop;
//  @extend .is-8-widescreen;
//  @extend .is-offset-2-widescreen;
//}

#main {
  padding-top: $navbar-height + 1.25rem;
  padding-bottom: 40px;
  min-height: 80vh;
}

html, body {
  background-color: $white-dar;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  font-family: $family-sans-serif;
  font-variant-ligatures: no-common-ligatures;
}

footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

.page-leave-active {
  transition: opacity 0ms;
}

.page-enter-active {
  transition: opacity 200ms;
  transition-delay: 10ms;
}

.page-enter, .page-leave-active {
  opacity: 0;
}

input, textarea {
  box-shadow: none !important;
}

// Defining our own container gutter
.container {
  @include desktop() {
    max-width: $desktop - $container-gutter;
    width: $desktop - $container-gutter;

    &.is-fluid {
      margin: 0 20px;
      max-width: none;
      width: auto;
    }
  }

  @include widescreen() {
    max-width: $widescreen - $container-gutter;
    width: $widescreen - $container-gutter;
  }

  @include fullhd() {
    max-width: $fullhd - $container-gutter;
    width: $fullhd - $container-gutter;
  }
}

.card-footer {
  padding-top: 0;
  padding-bottom: 0;
  background-color: $white-bis;
}

/*
// THIS MAKES CARD CORNERS ROUND
// TODO: fix some display issues

.card,
.settings-content,
.admin-content {
  border-radius: 8px !important;

  .image,
  .teaser-image {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
  }

  footer {
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
  }
} */

.checkbox {
  display: inline-flex !important;
}

.ql-editor {

  .story & {
    min-height: 100px;
  }

  background-color: $white;
}

.nowrap {
  white-space: nowrap;
}
.autowrap {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /*-ms-word-break: break-all;
  !* This is the dangerous one in WebKit, as it breaks things wherever *!
  word-break: break-all;
  !* Instead use this non-standard one: *!
  word-break: break-word;

  !* Adds a hyphen where the word breaks, if supported (No Blink) *!
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;*/
}

hr {
  opacity: 0.8 !important;
}

.button {
  border-radius: $radius !important;
}

.card-footer {
  border-top-color: $grey-lighter;
  justify-content: flex-end !important;

  .card-footer-item:not(:last-child) {
    border-right-color: $grey-lighter;
  }
}

.tags {
  > .tag {
    margin-bottom: 5px;
    margin-right: 5px !important;
    justify-content: flex-start;
    overflow-x: hidden;

    &:last-child {
      margin-right: 0;
    }
  }
}

dl dt {
  font-weight: bold;
}


#main.container {
  @include mobile() {
    // margin-top: -1rem;
    margin-right: 1.0rem;
    margin-left: 1.0rem;
  }
  @include tablet-only() {
    // margin-top: -1rem;
    margin-right: 1.0rem;
    margin-left: 1.0rem;
  }
}

a, .is-link, button {
  &, &:link, &:visited, &:active {
    outline: none;
  }
}

.tooltip {
  text-transform: none;

  &.is-animated:after,
  &.is-animated:before {
    transition-delay: 200ms !important;
  }
}
.tooltip.is-multiline::after {
  font-size: 1.0em;
  line-height: 1.2em;
  text-align: left;
  padding: 1em;
}

.notices {
  z-index: 10000;
}

div.loading-container {
  position: relative;
}
div.is-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: .5;

  transition: 150ms ease;

  &:after {
    @include loader;
    @include center(1em);
    height: 2em;
    width: 2em;
    border-color: transparent transparent #424242 #424242;
  }
}

div.nuxt-progress {
  $color1: #1da0d8;
  $color2: #3973b6;
  $color3: #804182;
  $color4: #df0b17;
  $color5: #eb7e03;
  $color6: #f8b933;
  $color7: #91b936;
  background: -webkit-linear-gradient(left, $color1 , $color2, $color3, $color4, $color5, $color6, $color7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $color1, $color2, $color3, $color4, $color5, $color6, $color7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $color1, $color2, $color3, $color4, $color5, $color6, $color7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $color1 , $color2, $color3, $color4, $color5, $color6, $color7);

  background-size: 100vw;
  // animation: ProgressAnimation 100ms ease;
}

.hc__author .media-content {
  overflow: visible;
}

/* styles for disabled demo content */
.under-construction {
  position: relative;

  &:before {
    z-index: 10;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
    // background-color: rgba(255, 255, 255, 0.5);
    background-image: url('/under-construction.svg'), url('/under-construction-bg2.png');
    background-repeat: no-repeat, repeat;
    background-position: center, center;
    background-size: 39px 31px, auto auto;
    top: 0;
    left: 0;
  }
}

section.take-action,
section.more-info {
  .breadcrumb {
    margin-top: -30px;
  }
}

body .sentry-error-embed-wrapper {
  z-index: 99999 !important;
}

/*@keyframes ProgressAnimation {
  0% {background-position: 0% 50%}
  100% {background-position: 200% 50%}
}*/

.hc-navigation .hc-dropdown {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

label,
.label {
  color: $grey-dark;

  &:not(:last-child) {
    margin-bottom: 0.2em;
  }

  &.is-required,
  &.is-required > label {
    &::after {
      content: " *";
    }
  }
}

.has-error {
  span.check,
  input {
    border-color: $red !important;
  }
  .control-label,
  label,
  label & {
    color: $red;
  }
}

.control.has-icons-left .icon, .control.has-icons-right .icon {
  height: 2.5em;
}

$iconPadding: .3em;
.icon-left {
  padding-right: $iconPadding;
}
.icon-right {
  padding-left: $iconPadding;
}

.hc-textcounters {
  display: flex;
  justify-content: center;
  margin: 15px 0;

  .textcountitem {
    text-align: center;
    border-right: 1px solid #dadada;
    padding: 0 10px 0 10px;
  }
  .textcountitem:first-child {
    text-align: right;
    // & > div {
    //   text-align: right !important;
    // }
  }
  .textcountitem:last-child {
    text-align: left;
    // & > div {
    //   text-align: left !important;
    // }
    border-right: 0;
  }
}

// used for animating the form helper text in when there is an issue
.help, .message {
  transition: all 150ms ease-in;

  &, &.is-hidden {
    display: block !important;
    overflow: hidden;
    height: auto;
  }

  &.is-hidden {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}

ol.is-list {
  list-style: decimal outside;
  margin-left: 2em;
  margin-top: 1em;
}

ul.is-list {
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em;
}

.switch:focus input[type="checkbox"] + .check {
  box-shadow: none !important;
}
.switch.is-disabled, .switch[disabled] {
  pointer-events: none;
}

#webpack-hot-middleware-clientOverlay {
  z-index: 999999;
}

.message {
  margin-bottom: 1rem;

  .message-body {
    position: relative;
    padding-right: 3rem;

    .delete {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }
}
