// Padding Helper
.has-padding {
  padding: $padding;
}

.has-padding-top {
  padding-top: $padding;
}

.has-padding-bottom {
  padding-bottom: $padding;
}

.has-padding-small {
  padding: $padding-small;
}

.has-padding-top-small {
  padding-top: $padding-small;
}

.has-padding-bottom-small {
  padding-bottom: $padding-small;
}

.has-padding-medium {
  padding: $padding-medium;
}

.has-padding-top-medium {
  padding-top: $padding-medium;
}

.has-padding-bottom-medium {
  padding-bottom: $padding-medium;
}

.has-padding-large {
  padding: $padding-large;
}

.has-padding-top-large {
  padding-top: $padding-large;
}

.has-padding-bottom-large {
  padding-bottom: $padding-large;
}

// Margin Helper
.has-margin {
  margin: $margin 0;
}

.has-margin-top {
  margin-top: $margin;
}

.has-margin-bottom {
  margin-bottom: $margin;
}

.has-margin-small {
  margin: $margin-small 0;
}

.has-margin-top-small {
  margin-top: $margin-small;
}

.has-margin-bottom-small {
  margin-bottom: $margin-small;
}

.has-margin-medium {
  margin: $margin-medium 0;
}

.has-margin-top-medium {
  margin-top: $margin-medium;
}

.has-margin-bottom-medium {
  margin-bottom: $margin-medium;
}

.has-margin-large {
  margin: $margin-large 0;
}

.has-margin-top-large {
  margin-top: $margin-large;
}

.has-margin-bottom-large {
  margin-bottom: $margin-large;
}