nav {
    .nuxt-link-exact-active {
        @extend a.nav-item.is-active;
        font-weight: bold;
    }
}

nav.nav {
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-item .fa {
    font-size: 1.4rem;
}