.b-tabs,
.tabs {
  .tab-content {
    overflow: visible;
    padding: 1rem 0;
  }
  .is-disabled {
    pointer-events: inherit;
    cursor: inherit;
    opacity: inherit;
  } // Slide
  .slide-next-enter-active,
  .slide-next-leave-active,
  .slide-prev-enter-active,
  .slide-prev-leave-active {
    transition: transform 0.2s cubic-bezier(0.785, 0.135, 0.150, 0.860), opacity 0.2s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  }
  .slide-prev-leave-to,
  .slide-next-enter {
    transform: translate3d(-2rem, 0, 0);
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
  }
  .slide-prev-enter,
  .slide-next-leave-to {
    transform: translate3d(2rem, 0, 0);
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
  }
  &.fullwidth {
    .tabs {
      ul {
        display: flex;
      }
      li {
        flex: 1 1 0;
      }
      a {
        padding: 0.5em 0;
      }
    }
  }
}

.tabs {
  ul {
    border-bottom: 0;
  }
  li {
    margin-left: .2rem;
    &:first-child {
      margin-left: 0;
    }
    & a {
      transition: all 150ms ease-in-out;
      border-bottom-width: 4px;
      font-weight: bold;
      & {
        border-bottom-color: transparent;
      }
      &:hover {
        border-bottom-color: $grey-lighter;
      }
    }
    &.is-active a {
      &,
      &:hover {
        border-bottom-color: $primary;
      }
    }
  }
}
