@import "fonts/lato.scss";

.small-info {
  font-size: $size-7;
  color: $grey;
}

p, .content {
  line-height: $body-line-height;
}

.content.hc-editor-content,
.content {
  h1, h2, h3, h4, h5, h6 {
    &:not(:first-child) {
      margin-top: 2rem;
    }
  }
  p {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
  dl, ol, ul, blockquote, pre, table {
    &:not(:first-child) {
      margin-top: 15px;
    }
  }
}

.content {
  blockquote {
    background-color: transparent;
    padding: 10px 0 10px 15px;
    font-style: italic;
    border-left: 5px solid $grey-lighter;
  }
}

.is-xsmall {
  font-size: $size-xsmall;
}
