//font-family
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');

.small-info {
  font-size: $size-7;
  color: $grey;
}

p, .content {
  line-height: $body-line-height;
}

.is-xsmall {
  font-size: $size-xsmall;
}