//font-family
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');

.small-info {
  font-size: $size-7;
  color: $grey;
}

p, .content {
  line-height: $body-line-height;
}

.content.hc-editor-content {
  p {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
  dl, ol, ul, blockquote, pre, table {
    &:not(:first-child) {
      margin-top: 15px;
    }
  }
}

.content {
  blockquote {
    background-color: transparent;
    padding: 10px 0 10px 15px;
    font-style: italic;
    border-left: 5px solid $grey-lighter;
  }
}

.is-xsmall {
  font-size: $size-xsmall;
}