// Only used by Style Guide
@import "assets/styles/main.scss";
$breakpoint: 601px;
$sidebarwidth: 250px;

.styleguide-header {
  background-color: $white-bis;
  min-height:90px;

  @media (min-width: $breakpoint) {
    padding-left: $sidebarwidth;
  }

  img {
    display:inline-block;
    vertical-align:middle;
    margin-right:30px;
    margin-bottom:10px;
  }

  h1 {
    display:inline-block;
    vertical-align:middle;
    color: $grey-light;
    margin-bottom:10px;
  }
}

.styleguide-header-inner {
  max-width: 1000px;
  padding: 16px;
  margin: 0 auto;
  display: block;

  @media (min-width: $breakpoint) {
    padding: 16px 32px;
  }
}

// Customization
#app {
  [class^="isolatedLink"] {
    display:none;
  }

  [class*="hasSidebar"] {
    @media (min-width: $breakpoint) {
      padding-left: $sidebarwidth;
    }
  }

  [class^="sidebar"] {
    box-shadow: 2px 0 5px rgba(10, 10, 10, 0.1);
    background-color: $white-bis;
    border:0;
    padding:5px;
    width: $sidebarwidth;

    [class^="logo"] {
      display:none;
    }

    [class^="search"] {
      padding: 1em 0.6em;
    }

    ul[class^="list"] {
      @extend .menu-list;
      padding-left:0;
    }
  }

  [class^="heading"] {
    [class^="anchor"] {
      color:$grey-light;
      font-size:22px;
      @media (min-width: $breakpoint) {
        left:12px;
      }
    }
  }

  main[class^="content"] {
    padding-top:40px;

    section {
      margin-top:60px;
    }

    & > section:first-of-type {
      margin-top:0;

      & > section:first-of-type {
        margin-top:0;
      }
    }

    & > section > section {
      h1 {
        @extend .title;
        @extend .is-1;
        color: $primary;
      }

      & > section {
        h1 {
          @extend .title;
          @extend .is-2;
          color: $primary;
        }
      }
    }

    h2 {
      margin-top:40px;
      @extend .title;
      @extend .is-3;
      font-weight:bold;
    }
  }

  table tbody td {
    @include desktop {
      padding-top: 12px;
      padding-right: 30px;
    }
  }
}
